@media (max-width: 1662px) {
	#about-after-h1 {
		
	}
	.about-img {
		width: 30%;
	}
	.about-img-circle {
		width: 20%;
	}
}


@media (max-width: 1320px) {
	#about h1{
	font-size: 64px;
	}
}


@media (max-width: 1241px) {

	#about h1{
	font-size: 54px;
	}
	#home-hello-div h1 {
		font-size: 96px;
	}
}


@media (max-width: 990px) {
	#about h1{
	font-size: 48px;
	}
}


@media (max-width: 880px) {
	#about h1{
	font-size: 40px;
	}
}


/*@media (max-width: 768px) {
	#home {
		height: 17%;
	}
	#about {
		height: 26%;
	}
	#about-after-div-flex {
		height: 103%;
	}
	#about-after-h1 {
		display: grid;
		margin-top: 5%;
		width: 60%;
		height: 100%;
		justify-items: center;
	}
	.about-img {
		display: none;
	}
	.about-img-circle {
		width: 100%;
	}
}*/


@media (max-width: 768px) {


	#about-after-div-flex {
		height: fit-content;
	}
	#about-after-h1 {
		display: grid;
		margin-top: 5%;
		width: 60%;
		height: 100%;
		justify-items: center;
	}
	.about-img {
		display: none;
	}
	.about-img-circle {
		width: 100%;
		padding-bottom: 5%;
	}
}


@media (max-width: 733px) {
	#about h1{
	font-size: 36px;
	}
}


@media (max-width: 660px) {
	#home {
		height: 12%;
	}
	#header-ul {
		font-size: 20px;
	}
	#home-button {
		font-size: 20px;
	}
	#about h1{
	font-size: 32px;
	}
}


@media (max-width: 587px) {

	#header-ul {
		font-size: 20px;
	}
	#home-button {
		font-size: 20px;
	}
	#about h1{
	font-size: 28px;
	}
}


@media (max-width: 510px) {

	#header-ul {
		font-size: 16px;
	}
	#home-hello-div h1 {
		font-size: 64px;
	}
	#home-button {
		font-size: 12px;
	}
}


@media (max-width: 425px) {
/*	#home {
		height: 10%;
	}*/
/*	#about {
		height: 6%;
	}
	#about-after-div {
		height: 57%;
	}*/
	#header-ul {
		font-size: 12px;
	}
	#home-hello-div h1 {
		font-size: 64px;
	}
	#home-button {
		font-size: 12px;
	}
	#header-logo {
		font-size: 24px;
	}
	#home-button {
		font-size: 10px;
		padding: 5px 20px;
	}
}



@media (max-height: 767px) {
	#home {
		margin-bottom: 40%;
	}
	#home-hello-div h1 {
		padding-top: 5%;
	}
}
