*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 24px;
	color: #515A70;
	font-family: 'Yantramanav', sans-serif;
}

body {
	background-color: #D3C0AF;
}

ul, nav{
	list-style: none;
}
p {
	font-size: 24px;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #A78B73 #D3C0AF;
}
*::-webkit-scrollbar {
	background-color: #D3C0AF;
  height: 6px;
  width: 18px;
}
*::-webkit-scrollbar-track {
  background-color: #D3C0AF;
}
*::-webkit-scrollbar-thumb {
  background-color: #A78B73;
  border-radius: 100px;
  border: 4px solid #D3C0AF;
}

a.btn{
	color: #fff;
	border-radius: 1111px;
	background-color: #5A835D;
	font-weight: 700;
	text-align: center;
	font-size: 24px;
	transition: 0.5s;
	box-shadow: 0px 0px 20px #364F38;
}

a.btnn{
	color: #fff;
	border-radius: 1111px;
	background-color: #5A835D;
	font-weight: 700;
	text-align: center;
	font-size: 24px;
	transition: 0.3s;
	padding: 10px 23px;
	opacity: 0.95;
}

a.btnn:hover{
	transform: scale(1.05);
	opacity: 1;
}

a.btn:hover {
	box-shadow: inset 0px 0px 20px #364F38;
	opacity: 0.9;
}

#body {
	background-image: url(img/hero.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #5A835D;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

section.contact{
	padding: 125px 100px;
	padding-bottom: 0px;
}

section.discount{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 62.5px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}
	section.discount{
		padding: 50px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}
	section.discount{
		padding: 40px 30px;
	}

}

section h3.title{
	color: #1A2849;
	font: bold 32px 'Yantramanav', sans-serif;
	margin-bottom: 35px;
	text-align: center;
	font-size: 64px;
}

section p span{
	opacity: 0.8;
	font-size: 16px;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}




header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header a {
	transition: 0.3s;
}

header a:hover{
	color: #5A835D;
	text-decoration: underline;
}
#logo{
	font-family: 'Moul', sans-serif;
	font-size: 48px;
	font-weight: 200;
}

header nav{
	display: flex;
	font-size: 24px;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	#logo{
		margin-bottom: 15px;
	}
}





#hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}


#hero h1{
	font: bold 60px 'Yantramanav', sans-serif;
	margin-bottom: 50px;
	margin-top: 100px;
	font-size: 96px;
}

a.btn{
	padding: 20px 46px;
}



@media (max-width: 800px){
	section h3.title{
		font-size: 48px;
	}
/*	 {

	}*/
	#hero{
		min-height: 600px;
	}

	#hero h1{
		font-size: 48px;
	}

	#hero a.btn{
		padding: 15px 40px;
	}

	a.btnn {
		padding: 10px 20px;
		font-size: 16px;
	}

	#logo{
	font-size: 32px;
}
	p {
		font-size: 16px;
	}

}





.оur-work{

}

#portfolio p {
	font-size: 24px;
}

#portfolio .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

#portfolio .grid li.large{
	flex-basis: 60%;
	transition: 0.8s ease-in-out;
}

#portfolio .grid li.large:hover {
	height: 450px;
}

@media (max-width: 1000px){

	#portfolio .grid li.large{
		flex-basis: 100%;
	}

}



#services {

}

#services .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

#services .grid li i{
    font-size: 50px;
    color: #5A835D;
    margin-bottom: 25px;
}

#services .grid li h4{
	color: #515A70;
    font-size: 24px;
    margin-bottom: 25px;
    color: #1A2849;
}

#services .grid li p{
	font-size: 22px;
    margin: 0;
}
#largei {
	transition: 1s;
}
#largei h4 {
	font-size: 32px;
}
#largei p {
	font-size: 24px;
}

#services .grid .smalli {
	transition: 0.5s;
}

#services .grid .smalli:hover,
#largei:hover {
	color: #1A2849;
	transform: translate(0px, -20px);
}
@media (max-width: 1130px){

	#largei h4 {
		font-size: 24px;
	}
	#largei p {
		font-size: 22px;
	}

}

@media (max-width: 1000px){

	#services .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	#services .grid li:last-child{
		margin-bottom: 0;
	}

	#largei h4 {
		font-size: 32px;
	}
	#largei p {
		font-size: 24px;
	}

}


@media (max-width: 600px){

	#services .grid li{
		flex-basis: 100%;
	}

}




.discount .title{
	color: #364F38;
}

.discount .discount-p{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
    color: #5A835D;
}

@media (max-width: 1000px){

	.discount .discount-p{
		font-size: 20px;
	}

}





#contact {
	background-color: #A78B73;
}

#contact .title {
	font-size: 32px;
}

#contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 50px;
	max-width: 800px;
	width: 80%;
}

#contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #515A70;
}

#contact form .btn{
	padding: 18px 42px;
}

.up {
	padding: 5px 20px;
	background-color: #D3C0AF;
	border-radius: 1000px;
	color: #fff;
}

@media (max-width: 800px){

	#contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
	header nav {
		font-size: 16px;
	}
	a.btn {
		font-size: 16px;
	}
	#portfolio p {
	font-size: 16px;
}

	.discount .title{
		font-size: 32px;
	}

}

@media (max-width: 419px) {
	.discount .title{
		font-size: 24px;
	}
}