*, html {
	padding: 0;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}
body {
	background: #101010;
	color: white;
	font-weight: 300;
}
ul, nav {
	list-style: none;
	font-size: 36px;
}
a {
	text-decoration: none;
	color: white;
}
h1 {
	font-weight: 400;
	width: fit-content;
	text-transform: uppercase;
	font-size: 96px;
}
section {
	position: relative;
}
header {
	width: 100%;
	max-width: 1097px;
	margin: 0 auto;
	padding: 50px 0px;
}
hr {
	width: 75%;
	height: 3px;
	background: #2B2B2B;
	border: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
}
.nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav li {
	margin: 0 30px;
	transition: .3s;
}
.nav li a {
	transition: .3s;
}
.nav li a:hover {
	opacity: 0.6;
}
.nav li a:active {
	opacity: 0.2;
}

.home {
	overflow: hidden;
	width: 100%;
	max-width: 1920px;
	height: fit-content;
	padding-bottom: 50px;
	margin: 0 auto;
	background-image: url(img/home.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
.home__text {
	padding-left: 6.25%;
}
.home p {
	width: fit-content;
	font-size: 48px;
	margin-top: 100px;
}
.home p span {
	font-weight: bold;
}
.home h2 {
	margin-top: 50px;
}
.home__button {
	font-size: 36px;
	padding: 1.23% 1.56%;
	background: #2B3A66;
	border-radius: 20px;
	transition: .3s;
	font-weight: 300;
}
.home__button:hover {
	padding: 1.23% 3.125%;
}
.home__button:active {
	opacity: 0.8;
}







.about {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	height: fit-content;
}
.about h1 {
	margin: 0 auto;
	padding: 50px 0;
}
.about h2 {
	text-align: center;
}
.about__div {
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 6.25%;
	align-items: center;
}
.about__div__li {
	background: #080808;
	width: 45%;
	height: 100%;
	border-radius: 10px;
	margin-bottom: 50px;
	padding-bottom: 20px;
}
.about__div__ul {
	margin: 0px 4.5%;
	text-align: left;
}



.services {
	overflow: hidden;
	width: 100%;
	max-width: 1920px;
	height: fit-content;
	margin: 0 auto;
}
.services h1 {
	margin: 0 auto;
	padding: 50px 0;
}
.services__div {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 6.25%;
}

.services__div__li {
	background: #878787;
	width: 25%;
	height: 100%;
	border-radius: 10px;
	margin-bottom: 50px;
	padding: 40px 40px;
	text-align: center;
	color: black;
}
.services h4 {
	font-size: 36px;
}
.services h3 {
	font-size: 42px;
}


.contacts {
	overflow: hidden;
	width: 100%;
	max-width: 1920px;
	height: fit-content;
	margin: 0 auto;
}
.contacts__div {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
	font-size: 36px;
}
.contacts h1 {
	margin: 0 auto;
	padding: 50px 0;
}
.contacts h2 {
	font-weight: 300;
	argin-bottom: 25px;
}
.contacts a {
	background: #2B3A66;
	padding: 10px 15px;
	border-radius: 10px;
	transition: .3s;
}
.contacts a:hover {
	padding: 10px 30px;
}
.contacts a:active {
	opacity: 0.8;
}


@media (max-width: 1477px) {
	.services__div {
		justify-content: center;
	}
	h1 {
		font-size: 64px;
	}
	.about__div__ul {
		font-size: 32px;
	}
	.about__div__li {
		width: 100%;
	}
	.services__div__li {
		width: 80%;
	}
	.services h4 {
		font-size: 32px;
	}
	.services h3 {
		font-size: 40px;
	}
	.services__div__li h2 {
		font-size: 46px;
	}
	.contacts a {
		font-size: 32px;
	}
	.contacts h2 {
		font-size: 48px;
	}
	.home h2 {
		border-radius: 10px;
	}
}
@media (max-width: 740px) {
	h1 {
		font-size: 42px;
	}
	.home a {
		font-size: 32px;
	}
	.home__text p {
		font-size: 32px;
	}
	.about h2 {
		font-size: 36px;
	}
	.about__div__ul {
		font-size: 24px;
	}
	.services__div__li {
		width: 90%;
	}
	.services h4 {
		font-size: 26px;
	}
	.services h3 {
		font-size: 32px;
	}
	.services__div__li h2 {
		font-size: 36px;
	}
	.services__div__li p {
		font-size: 30px;
	}
	.contacts a {
		font-size: 24px;
	}
	.contacts h2 {
		font-size: 36px;
	}

}
@media (max-width: 630px) {
	h1 {
		font-size: 40px;
	}
	p {
		font-size: px;
	}
	h2 {
		font-size: 32px;
	}
	.home a {
		font-size: 20px;
	}
	.home__text p {
		font-size: 28px;
	}
	.about__div__ul {
		font-size: 22px;
	}
	.nav {
		font-size: 24px;
	}
	.services__div__li {
		width: 100%;
	}
	.services h4 {
		font-size: 22px;
	}
	.services h3 {
		font-size: 28px;
	}
	.services__div__li h2 {
		font-size: 32px;
	}
	.services__div__li p {
		font-size: 26px;
	}
	.services h1 {
		margin: 0 auto;
	}
	.contacts__div {
		justify-content: center;
		width: 40%;
	}
	.contacts a {
		font-size: 20px;
	}
	.contacts h2 {
		font-size: 30px;
	}
	.nav {
  	  font-size: 20px;
	}
	.nav li {
   		 margin: 0 10px;
	}
}
@media (max-width: 450px) {
	h1 {
		font-size: 32px;
	}

	.home__text p {
		font-size: 24px;
	}
	.home a {
		font-size: 20px;
	}
	.home__text p {
		font-size: 28px;
	}
	.about__div__ul {
		font-size: 18px;
	}
	.about h2 {
		font-size: 32px;
	}
	.services h4 {
		font-size: 18px;
	}
	.services h3 {
		font-size: 20px;
	}
	.services__div__li h2 {
		font-size: 24px;
	}
	.services__div__li p {
		font-size: 20px;
	}
	.services h1 {
		margin: 0 auto;
	}
	.contacts__div {
		width: 60%;
		font-size: 20px;
	}

}
@media (max-width: 380px) {
	h1 {
		font-size: 26px;
	}
	.home a {
		font-size: 20px;
	}
	.home__text p {
		font-size: 20px;
	}
	.about h2 {
		font-size: 22px;
	}
	.about__div__ul {
		font-size: 18px;
	}
	.services h4 {
		font-size: 16px;
	}
	.services h3 {
		font-size: 22px;
	}
	.services__div__li h2 {
		font-size: 22px;
	}
	.services__div__li p {
		font-size: 20px;
	}
	.services h1 {
		margin: 0 auto;
	}
	.contacts__div {
		width: 70%;
		font-size: 20px;
	}

}
